<!-- TASKS -->
<h1>Faites votre devis gratuitement</h1>
<div class="wrapper-tasks">
  <div class="row">
    <div class="col-sm">
      <h3>SANITAIRE</h3>
      <ul>
        <li>W.C au sol <input type="checkbox"></li>
        <li>W.C suspendu<input type="checkbox"></li>
        <li>Mitigeur lavabo et évier<input type="checkbox"></li>
        <li>Douche à l'italienne<input type="checkbox"></li>
        <li>Bac à douche<input type="checkbox"></li>
        <li>Paroi de douche<input type="checkbox"></li>
        <li>Faïence et Carrelage<input type="checkbox"></li>
        <li>Chauffe-eau électrique<input type="checkbox"></li>
        <li>Chauffe-eau plat<input type="checkbox"></li>
        <li>Pose d'adoucisseur ou d'aquabion<input type="checkbox"></li>
        <li><strong>Pose complète de sanitaire</strong><input type="checkbox"></li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>CUISINE</h3>
      <ul>
        <li>Evier</li>
        <li>Plan de travail</li>
        <li>Hotte aspirante</li>
        <li>Pose de cuisine complète</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>CLIMATISATION</h3>
      <ul>
        <li>Climatiseur en gainable</li>
        <li>Climatiseur en cassette</li>
        <li>Climatiseur mono-split mural</li>
        <li>Climatiseur duo-split mural</li>
        <li>Climatiseur trio-split mural</li>
        <li>Climatiseur quatro-split mural</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>CHAUFFAGE</h3>
      <ul>
        <li>Chaudière à gaz murale</li>
        <li>Radiateur électrique</li>
        <li>Radiateur à eau</li>
        <li>Plancher chauffant</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>VMC</h3>
      <ul>
        <li>Pose aspiration VMC</li>
        <li>Remplacement aspiration VMC</li>
      </ul>
    </div>
  </div>
</div>
<!-- QUOTATION -->
<p>Now is <%= Time.now %><p>
<form action="">
  <input type="address">
  <p>here the job that user want to be done</p>
  <p>here price of piece</p>
  <p>here price of job time</p>

</form>
<!-- APPOINTEMENT -->
