<!-- LANDING -->
<div class="container-head">
  <h1>AR PLOMBERIE CLIMATISATION CHAUFFAGE</h1>
  <button><%= link_to 'DEVIS',appointements_path %></button>
  <button><a href="#">Rendez-vous</a></button>
  <button><a href="#">Contact</a></button>
</div>


<!-- CONTACT -->

<div class="container-contact">
  <h5>Contactez moi</h5>
  <ul>
    <li>mail</li>
    <li>phone</li>
    <li>messenger</li>
  </ul>
</div>
