<!-- LANDING -->
<div class="container-head">
  <h1>AR PLOMBERIE CLIMATISATION CHAUFFAGE</h1>
  <h4>"Enfin un plombier en qui<br> je peux avoir confiance"</h4>
  <div class="btn-home">
    <button id="btn-devis"><%= link_to 'DEVIS',appointements_path %></button>
    <button id="btn-rdv"><%= link_to 'RENDEZ-VOUS',appointements_path %></button>
    <button id="btn-contact"><a href="#">Contact</a></button>
  </div>
</div>


<!-- CONTACT -->

<div class="container-contact">
  <h2>Contactez moi</h2>
  <ul>
    <li>
      <h5>Email</h5>
      <p>Si vous souhaitez prendre rendez-vous,<br> ou pour toutes questions subsidiaires.</p>
    </li>

    <li>
      <h5>Telephone</h5>
      <p>Si vous souhaitez prendre rendez-vous, <br>ou pour toutes questions subsidiaires.</p>
    </li>

    <li>
      <h5>Messenger</h5>
      <p>Si vous souhaitez prendre rendez-vous,<br> ou pour toutes questions subsidiaires.</p>
    </li>
  </ul>
</div>
