<!-- LANDING -->
<div class="container-head">
  <h1>AR PLOMBERIE CLIMATISATION CHAUFFAGE</h1>
  <a href="#">Devis</a>
  <a href="#">Rendez-vous</a>
  <a href="#">Contact</a>
</div>
<!-- TASKS -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>SANITAIRE</h3>
      <ul>
        <li>W.C au sol</li>
        <li>W.C suspendu</li>
        <li>Mitigeur lavabo et évier</li>
        <li>Douche à l'italienne</li>
        <li>Bac à douche</li>
        <li>Paroi de douche</li>
        <li>Faïence et Carrelage</li>
        <li>Chauffe-eau électrique</li>
        <li>Chauffe-eau plat</li>
        <li>Pose d'adoucisseur ou d'aquabion</li>
        <li>Pose complète de sanitaire</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>CUISINE</h3>
      <ul>
        <li>Evier</li>
        <li>Plan de travail</li>
        <li>Hotte aspirante</li>
        <li>Pose de cuisine complète</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>CLIMATISATION</h3>
      <ul>
        <li>Climatiseur en gainable</li>
        <li>Climatiseur en cassette</li>
        <li>Climatiseur mono-split mural</li>
        <li>Climatiseur duo-split mural</li>
        <li>Climatiseur trio-split mural</li>
        <li>Climatiseur quatro-split mural</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>CHAUFFAGE</h3>
      <ul>
        <li>Chaudière à gaz murale</li>
        <li>Radiateur électrique</li>
        <li>Radiateur à eau</li>
        <li>Plancher chauffant</li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>VMC</h3>
      <ul>
        <li>Pose aspiration VMC</li>
        <li>Remplacement aspiration VMC</li>
      </ul>
    </div>
  </div>
</div>
<!-- QUOTATION -->



<!-- APPOINTEMENT -->
<div class="container">
  <h5>Contactez moi</h5>
  <ul>
    <li>mail</li>
    <li>phone</li>
    <li>messenger</li>
  </ul>
</div>
