// Form btn
.btn {
  border: 1px solid black;

}
.btn:hover {
  background-color: lightblue;
}

// Main page btn
.container-head button {
  padding: 10px 16px;
  margin: 10px 16px;
  opacity: 0.9;
  margin-top: 20%;
  border-radius: 2px;
}
.container-head button:hover {


}
.container-head a:hover {
  text-decoration: none;

}

.btn-home {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}
